* {
	margin:0;
	padding:0;
	outline:0;
}
body {
	font-size:12px;
	line-height:1.3;
	font-family:Arial, Helvetica, Sans-Serif;
	color:#ccc;
	background:url('images/body-bg.gif');
}
a {
	color:#e7b038;
	text-decoration:underline;
	cursor:pointer;
}
a:hover {
	text-decoration:none;
}
a img {
	border:0;
}
input, textarea, select {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
textarea {
	overflow:auto;
}
.cl {
	display:block;
	height:0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
	clear:both;
}
.notext {
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.left, .alignleft {
	float:left;
	display:inline;
}
.right, .alignright {
	float:right;
	display:inline;
}
.text-right {
	text-align:right;
}
h2 {
	font-size:15px;
	color:#f2a223;
	font-weight:bold;
}
h3 {
	font-size:14px;
	color:#fff;
	font-weight:bold;
}
h4 {
	font-size:14px;
	color:#f3b12b;
	font-weight:bold;
}
#shell {
	width:980px;
	margin:0 auto;
}
#header {
	position:relative;
}
h1#logo {
	position:absolute;
	top:37px;
	left:0;
}
h1#logo a {
	float:left;
	width:400px;
	height:49px;
	background:url('images/logo.png') no-repeat 0 0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.social {
	float:right;
	width:160px;
	padding-top:11px;
}
.social span {
	float:left;
	display:inline;
	font-size:10px;
	color:#9f9f9f;
	line-height:16px;
	padding-right:5px;
}
.social ul {
	list-style:none;
}
.social ul li {
	float:left;
	display:inline;
	width:16px;
	padding-right:2px;
}
.social ul li a {
	float:left;
	display:inline;
	width:16px;
	height:16px;
	background:url('images/social.gif') no-repeat 0 0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.social ul li a.facebook {
	background-position:-18px 0;
}
.social ul li a.vimeo {
	background-position:-36px 0;
}
.social ul li a.rss {
	background-position:-54px 0;
}
#navigation {
	float:right;
	clear:right;
	padding-top:28px;
	padding-bottom: 20px;}
#navigation ul {
	list-style:none;
}
#navigation ul li {
	float:left;
	display:inline;
	padding-left:29px;
	margin-top: 30px;
}
#navigation ul li a {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}
#navigation ul li a.active, #navigation ul li a:hover{
	color:#1a90ff;
}
#sub-navigation {
	display:block;
	clear:right;
	border-top:1px dashed #666;
	border-bottom:1px dashed #666;
	padding:8px 0;
}
#sub-navigation ul {
	list-style:none;
}
#sub-navigation ul li {
	float:left;
	display:inline;
	padding-right:23px;
}
#sub-navigation ul li a {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	line-height:24px;
	text-decoration:none;
}
#sub-navigation ul li a:hover {
	text-decoration:underline;
}
#filters {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.filter-item {
display: flex;
align-items: center;
font-size:14px;
}

.filter-item input {
margin-right: 5px;
}

#search {
	width:346px;
	margin:0 0 0 auto;
}
#search label {
	float:left;
	display:inline;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	line-height:24px;
	padding-right:6px;
}
#search .search-field {
	width:238px;
	border:1px solid #413e3e;
	background:#000;
	color:#787878;
	padding:2px 0 2px 2px;
}
#search .search-button {
	font-size:14px;
	font-weight:bold;
	border:0;
	background:none;
	color:#fff;
	cursor:pointer;
}
#main {
	border-bottom:1px dashed #413e3e;
}

.head {
	display:inline-flex;
	justify-content: space-between;
}

#sorting {
	font-size: 18px;
	font-weight: bold;
	color: #e7b038;
	background-color: #222121af;
	border: none;
	outline: 0px;
}
#content {
}
.box {
	width:980px;
	border-bottom:1px dashed #413e3e;
	padding-bottom:21px;
}
.box .head {
	width:980px;
	padding-top:14px;
	padding-bottom:11px;
	margin-bottom: 20px;
}
.box .head h2 {
	float:left;	
	display:inline;
}
.box .game {
	width:450px;
	float:left;
	padding-right:12px;
	margin-bottom: 20px;
}
.game-image {
	float:left;
	width:450px;
	height:214px;
	position:relative;
}
.game-image img {
	width:450px;
	height:214px;
}
.game-image a {
	float:left;
	display:inline;
	width:450px;
	height:214px;
	position:relative;
	z-index:2;
}
.play {
	position:absolute;
	top:0;
	left:0;
	width:450px;
	height:214px;
	/* background-color: #000; */
	opacity: 0;
	display:block;
	z-index:5;
	cursor:pointer;
	display:none;
}
.game {
	--c: #1a90ff; /* the border color */
	--b: 5px;    /* the border thickness*/
	--g: 5px;     /* the gap on hover */
	
	padding: calc(var(--g) + var(--b));
	--_g: #0000 25%,var(--c) 0;
	background: 
	  conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
	   var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
	  conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
	   0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
	transition: .2s, background-position .2s .2s;
	cursor: pointer;
}
.game:hover {
	--_i: 100%;
	transition: .2s, background-size .2s .2s;
}
.game span.name {
	font-weight:bold;
	color:#fff;
	font-size:14px;
	text-align:center;
	padding-top:160px;
	display:block;
}
.box .last {
	padding:0;
}
.rating {
	float:left;
	width:450px;
	padding-top:8px;
}
.rating p {
	float:left;
	font-size:10px;
	color:#fff;
	font-weight:bold;
}
.rating .stars {
	float:left;
	width:60px;
	height:11px;
	background:url('images/stars.gif') no-repeat 0 0;
	margin-left:2px;
}
.rating .stars-in {
	width:60px;
	display:inline;
	background:url('images/stars.gif') no-repeat 0 bottom;
	position:absolute;
	height:11px;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.trades {
	background:url('images/trades.gif') no-repeat 0 center;
	padding-left:12px;
	float:right;
}
.trades i {
	margin-right: 5px;
}
#news {
	width:460px;
	float:left;
}
#news .head {
	width:460px;
	padding-top:11px;
	padding-bottom:14px;
	margin-bottom: 20px;
}
#news h3, #coming h3 {
	float:left;
}
#coming {
	width:490px;
	float:left;
	padding-left:30px;
}
#coming .head {
	width:490px;
	padding-top:11px;
	padding-bottom:14px;
	margin-bottom: 20px;
}
#coming .head strong {
	color:#1a90ff;
}
#coming .content {
	min-height:130px;
	height:auto !important;
	height:130px;
	padding-bottom:20px;
}
#coming .content h4 {
	padding-bottom:3px;
}
.content {
	padding-bottom:28px;
}
.content .date {
	font-size:10px;
	color:#fff;
}
.content img {
	float:left;
	width:68px;
	padding-right:8px;
}
.content p {
	font-size:13px;
	color:#fff;
	line-height:16px;
}
.content a {
	font-size:11px;
}
#footer {
	padding:15px 0 0 0;
	font-size:10px;
}
#footer, #footer a {
	color:#9c9c9c;
	text-decoration:none;
}
#footer a:hover {
	text-decoration:none;
}
#footer p {
	margin:0;
	padding:0 0 11px 0;
	line-height:normal;
	white-space:nowrap;
}
#footer .lf {
	float:left;
}
#footer .rf {
	float:right;
}

/* CSS */
.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 200px;
  min-height: 25px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.header-form {
	padding-top: 20px;
	float: right;
}

.steambutton {
	display: block;
	background-color: #6f9f31;
	width: 270px;
	height: 50px;
	line-height: 50px;
	margin: auto;
	color: #fff;
	position: absolute;
	cursor: pointer;
	overflow: hidden;
	border-radius: 5px;
  }
  
  .steambutton span {
	font-family: 'Exo 2', sans-serif;
	font-weight: bold;
	letter-spacing: 0.1em;
	width: 75%;
	font-size: 14px;
	text-transform: uppercase;
	left: 0;
	-webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  }
  
  .steambutton span,
  .steambutton .icon {
	display: block;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 0;
  }
  
  .steambutton .icon .fa {
	font-size: 30px;
	line-height: 50px;
	-webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
  }
  
  .steambutton .icon {
	width: 25%;
	right: 0;
	-webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  }
  
  .steambutton span,
  .steambutton .icon {
	display: block;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 0;
  }
  
  .fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
  }
  
  .steambutton span:after {
	content: '';
	background-color: #5d8628;
	width: 2px;
	height: 70%;
	position: absolute;
	top: 15%;
	right: -1px;
  }
  
  .steambutton.success span,
  .steambutton:hover span {
	left: -72%;
	opacity: 0;
  }
  
  .steambutton.success .icon,
  .steambutton:hover .icon {
	width: 100%;
  }
  
  .steambutton.success .icon .fa,
  .steambutton:hover .icon .fa {
	font-size: 45px;
  }

  .user-info {
    text-align: center;
}

.user-info h1 {
    margin: 10px 0;
    font-size: 2em;
	color: #f2a223;
}

.user-info .account-level {
	margin: 0;
	font-size: 1.2em;
	color: #1a90ff;
}

.user-info img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-info p {
    margin: 0;
    font-size: 0.9em;
    color: #777;
}

:root {
	--rating-size: 7rem;
	--bar-size: 1rem;
	--background-color: #e7f2fa;
	--rating-color-default: #2980b9;
	--rating-color-background: #c7e1f3;
	--rating-color-good: #27ae60;
	--rating-color-meh: #f1c40f;
	--rating-color-bad: #e74c3c;
  }
  
  /* Rating item */
  .user-rating {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	overflow: hidden;
	
	
	background: var(--rating-color-default);
	color: var(--rating-color-default);
	width: var(--rating-size);
	height: var(--rating-size);
  
	/* Basic style for the text */
	font-size: calc(var(--rating-size) / 3);
	line-height: 1;
  }
  
  /* Rating circle content */
  .user-rating span {
	position: relative;
	display: flex;
	font-weight: bold;
	z-index: 2;
  }
  
  .user-rating span small {
	font-size: 0.5em;
	font-weight: 900;
	align-self: center;
  }
  
  /* Bar mask, creates an inner circle with the same color as thee background */
  .user-rating::after {
	content: "";
	position: absolute;
	inset: var(--bar-size);
	background: var(--background-color);
	border-radius: inherit;
	z-index: 1;
  }
  
  /* Bar background */
  .user-rating::before {
	content: "";
	position: absolute;
	inset: var(--bar-size);
	border-radius: inherit;
	box-shadow: 0 0 0 1rem var(--rating-color-background);
	z-index: -1;
  }
  
  /* Classes to give different colors to ratings, based on their score */
  .user-rating.good {
	background: var(--rating-color-good);
	color: var(--rating-color-good);
  }
  
  .user-rating.meh {
	background: var(--rating-color-meh);
	color: var(--rating-color-meh);
  }
  
  .user-rating.bad {
	background: var(--rating-color-bad);
	color: var(--rating-color-bad);
  }

.user-score {
    margin-top: 20px;
}

.score {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 20px; /* Adjust the right margin as needed */
	width: 500px;
}

.comments {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.comment {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment p {
    margin: 0;
}

.commenter-name {
    font-weight: bold;
    margin-right: 5px;
	color: #1a90ff;
}

.comment-content {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Optional: Style the date for better visibility */
.comment p:last-child {
    color: #777;
}


  .star-rating {
	font-size: 24px;
	color: #FFD700; /* Gold color for the stars */
  }

  .side {
	float: left;
	width: 10%;
	margin-top:10px;
  }
  
  .middle {
	margin-top:10px;
	float: left;
	width: 70%;
  }
  
  .rating-count {
	margin-left: 5px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* The bar container */
  .bar-container {
	width: 100%;
	background-color: #f1f1f1;
	text-align: center;
	color: white;
	border-radius: 7px;
  }
  
  /* Individual 7ars */
  .bar-5 {height: 18px; background-color: #04AA6D; border-radius: 7px;}
  .bar-4 {height: 18px; background-color: #2196F3; border-radius: 7px;}
  .bar-3 {height: 18px; background-color: #00bcd4; border-radius: 7px;}
  .bar-2 { height: 18px; background-color: #ff9800; border-radius: 7px;}
  .bar-1 {height: 18px; background-color: #f44336; border-radius: 7px;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
	.side, .middle {
	  width: 100%;
	}
	.right {
	  display: none;
	}
  }

  .checked {
	color: orange;
  }

  .rating-heading {
	font-size: 25px;
	margin-right: 25px;
  }

  .score .fa {
	font-size: 25px;
  }

  .score p {
	margin-top: 10px;
	margin-bottom: 20px;
  }

  
  
/* .tabs button:focus,
.tabs input:focus,
.tabs textarea:focus,
.tabs select:focus {
  outline: none; } */

.tabs {
	margin-top: 30px !important;
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #efedef;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #fd264f; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 2px solid #fd264f; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .tabs .tab-2 {
    width: 50%; }
    .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }


	  .avatar {
		vertical-align: middle;
		width: 50px;
		border-radius: 30px;
		margin-top: -14px;
	  }
	  

	  .search-bar {
		display: flex;
		align-items: center;
		margin: 10px;
	  }
	
	  #searchForm {
		display: flex;
		width: 40%;
		margin-left: auto;
	  }
	
	  #searchInput {
		flex: 1;
		padding: 8px;
		border: 1px solid #ccc;
		border-radius: 4px;
		font-size: 16px;
	  }
	
	  #searchButton {
		padding: 8px 16px;
		background-color: #1a90ff;
		color: white;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-size: 16px;
		margin-left: 5px;
	  }
	
	  #searchButton:hover {
		background-color: #0A66C2;
	  }

	  .game-info .header img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 25px;
	  }

	  .game-info img {
		margin-top: 10px;
		margin-bottom: 10px;
	  }
	  
	  .game-info h2 {
		text-align: center;
   }
	.game-info .game-rating, .game-info .age, .game-info .description, .game-info .long-description, .game-info .pc-requirements, .game-info .genres, .game-info .developers, .game-info .release-date {
		margin-top: 20px;
   }
   .game-image .pc-requirements {
		line-height: 1.6;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px; 
   }
   .game-info .pc-requirements .minimum {
	grid-area: 1 / 1 / 2 / 2;
   }
   .game-info .pc-requirements .recommended {
	grid-area: 1 / 2 / 2 / 3;
   }
	/* .game-info p {
		line-height: 1.6;
		color: #555;
   } */
	.game-info ul {
		list-style-type: none;
		padding: 0;
   }
	.game-info ul li {
		margin-bottom: 5px;
   }
   .game-info p strong {
	color: #f2a223;
   }
	.game-info h3 {
		color: #1a90ff;
		border-bottom: 2px solid #333;
		padding-bottom: 5px;
		margin-bottom: 10px;
   }
	
   .game-owners img {
	width: 75px;
	height: 75px;
   }