beautifulsoup4     
blinker            
bs4                
certifi            
charset-normalizer 
click              
colorama           
dnspython          
Flask              
idna               
itsdangerous       
Jinja2             
MarkupSafe         
pip                
pymongo            
python-decouple    
python-dotenv      
python-steam-api   
requests           
soupsieve          
steamsignin        
urllib3            
Werkzeug           